/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, #6C7D8C 20%, rgba(108, 125, 140, 0));
    color: rgba(0, 0, 0, 0.9);
    padding: 20px 10%;
    position: relative;

}

/* Logo */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Nawigacja */
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
}
