{% extends 'base.html' %}

{% block title %}MyBank - Login & Registration{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='login/login.css') }}">
{% endblock %}

{% block content %}
    <div class="auth-container">
    {% if not show_register_form %}
    <div class="form-container login-form">
        <h2>Login</h2>
        <form id="loginForm" action="/login" method="post">
            <div class="input-group">
                <label for="loginEmail">Email</label>
                <input type="email" id="loginEmail" name="email" placeholder="Enter your email" required>
            </div>
            <div class="input-group">
                <label for="loginPassword">Password</label>
                <input type="password" id="loginPassword" name="password" placeholder="Enter your password" required>
            </div>
            <button type="submit" class="cta-button">Log In</button>
        </form>
         <p>Don't have an account? <a href="{{ url_for('routes.toggle_register') }}">Register here</a></p>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <p style="color: #D9534F; font-weight: bold;">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    {% else %}
    <div class="form-container register-form">
        <h2>Register</h2>
        <form id="registerForm" action="/register" method="post">
            <div class="input-group">
                <label for="registerEmail">Email</label>
                <input type="email" id="registerEmail" name="email" placeholder="Enter your email" required>
            </div>
            <div class="input-group">
                <label for="registerPassword">Password</label>
                <input type="password" id="registerPassword" name="password" placeholder="Create a password" required>
            </div>
            <div class="input-group">
                <label for="registerConfirmPassword">Confirm Password</label>
                <input type="password" id="registerConfirmPassword" name="confirmPassword" placeholder="Confirm your password" required>
            </div>
            <button type="submit" class="cta-button">Register</button>
        </form>
        <p>Already have an account? <a href="{{ url_for('routes.toggle_login') }}">Login here</a></p>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <p style="color: #D9534F; font-weight: bold;">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
        {% endif %}
</div>

{% endblock %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='login/login.js') }}"></script>
{% endblock %}
